@font-face {
    font-family: "Rokh";
    src: url("../fonts/RokhFaNum-Thin.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rokh";
    src: url("../fonts/RokhFaNum-ExtraLight.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rokh";
    src: url("../fonts/RokhFaNum-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rokh";
    src: url("../fonts/RokhFaNum-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rokh";
    src: url("../fonts/RokhFaNum-Normal.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rokh";
    src: url("../fonts/RokhFaNum-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rokh";
    src: url("../fonts/RokhFaNum-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rokh";
    src: url("../fonts/RokhFaNum-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rokh";
    src: url("../fonts/RokhFaNum-ExtraBold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rokh";
    src: url("../fonts/RokhFaNum-UltraBold.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rokh";
    src: url("../fonts/RokhFaNum-Black.woff2") format("woff2");
    font-weight: 950;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rokh Hairline";
    src: url("../fonts/RokhFaNum-HairLine.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}