@font-face {
    font-family: "Rokh";
    src: url("../fonts/Rokh-Thin.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rokh";
    src: url("../fonts/Rokh-ExtraLight.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rokh";
    src: url("../fonts/Rokh-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rokh";
    src: url("../fonts/Rokh-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rokh";
    src: url("../fonts/Rokh-Normal.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rokh";
    src: url("../fonts/Rokh-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rokh";
    src: url("../fonts/Rokh-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rokh";
    src: url("../fonts/Rokh-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rokh";
    src: url("../fonts/Rokh-ExtraBold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rokh";
    src: url("../fonts/Rokh-UltraBold.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rokh";
    src: url("../fonts/Rokh-Black.woff2") format("woff2");
    font-weight: 950;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rokh Hairline";
    src: url("../fonts/Rokh-HairLine.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}